html
    head
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    body
        nav.navbar.navbar-inverse
            a.navbar-brand(href='#') Node JS
            ul.nav.navbar-nav
                li.active
                    a(href='/') Home
                li
                    a(href='/users') Users
                li
                    a(href='/products') Products
                li
                    a(href='/cart') Cart
        if user
            p= user.name
        block content