extends ../layouts/common

block content
    div.container
        h1 Users

        a.btn.btn-primary(href="/users/create") New
        br
        br
        .row
            .col-md-12
                form(action="/users/search", method="GET", class="form-inline")
                    div.form-group
                        input(type="text", name="q", class="form-control")
                    span &nbsp;
                    button(class="btn btn-primary") Search
        table.table
            tr
                th Name
                th Phone
                th Action
            each user in users
                tr
                    td= user.name
                    td= user.phone
                    td
                        a.btn.btn-light(href='/users/' + user.id) View